#exportPattern("^[[:alpha:]]+")
export(PLOT_CDF,CREATE_DISTR,PROPAG,SENSI_PINCHING,CREATE_INPUT,QUAN_INTERVAL,SUMMARY_1CDF,PLOT_INPUT,UNCERTAINTY,PINCHING_fun,PROBA_INTERVAL)
import(datasets,utils,grDevices,graphics,stats,sets, pbapply, reliaR, kerdiest, triangle, rgenoud)

